- model_class = Child
- title = t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
- content_for :title, title
.page-header
  %h1=title
= render :partial => 'form'
