$primary-color-rose: #8b1c55;
$primary-color-red: #ff1900;
$primary-color-green: #159594;
$primary-color-blue: #188cab;
$primary-color-yellow: #fbcb15;
$primary-color-purple: #6f5499;
$secondary-color-blue: #70BFD5;
$secondary-color: #9275BE;
$light-secondary-color: #9D89BE;
$strip-dark-color: #D7CDFF;
$strip-light-color: #F2F0FF;
$bg-color: #fff;

@font-face {
  font-family: 'page-header';
  src: url('/assets/alpha_echo.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: $bg-color;
  color: #666;
  font-family: verdana, arial, helvetica, sans-serif;
//  font-size: 18px;
  line-height: 24px;
}

.page-header {
  font-family: page-header, sans-serif;
}

.navbar-default {
  .navbar-nav > li > a {
    color: $bg-color;
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;

    &:hover {
      color: $secondary-color-blue;
    }
  }

  .navbar-brand {
    color: $primary-color-yellow;
    font-weight: bold;
    font-size: 20px;
    text-shadow: none;

    &:hover {
      color: $primary-color-yellow;
    }
  }
}
.navbar-default {
  background-color: $primary-color-purple;
  background-image: none;
}
.container h1 {
  color: $primary-color-rose;
  font-size: 32px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: $secondary-color-blue;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: $strip-light-color;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

#footer-bottom {
  background-color: gray;
  color: $strip-dark-color;
  padding-top: 19px;
  text-transform: uppercase;
}
