.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target='.nav-collapse' data-toggle='collapse')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href='/') Little Star Daycare
      .container.nav-collapse
        %ul.nav
          %li= link_to 'Stories', stories_path
          %li= link_to 'Register', children_path
          %li= link_to 'Contact Us', contact_us_path
          %li= link_to 'Create Diary'